<%- include ("./partials/head.ejs") %>
<main>
    <section id="formCourse">
        <div>
            <form action="/courses/<%= data.name %>/t/<%= id %>" method="POST" id="<%= data.name %>" name="formWithJs" class="courseForm">
                <fieldset>
                    <legend id="teacher">Docenten</legend>
                    <div class="input-wrapper">
                        <% data.teachers.forEach(d => { %>
                        <input type="radio" id="<%= d %>" class="teacher" name="teacher" value="<%= d %>" required>
                        <label for="<%= d %>"><%= d %></label>
                        <% }) %> 
                    </div>
                </fieldset>

                <fieldset>
                    <legend id="week-date">In welke week had je het vak?</legend>
                    <label for="start">Begin </label>
                    <input type="date" class="week-date" name="start" id="start" required>
                    <label for="end">Eind </label>
                    <input type="date" class="week-date" name="end" id="end" required>
                </fieldset>

                <fieldset>
                    <legend>Beoordeeling van het vak</legend>
                    <p>Algemeen beoordeling</p>
                    <div id="general-wrapper" class="input-wrapper">
                        <div class="visibleWithoutJs">
                            <input type="radio" class="generalRate" name="generalRate" value="1" required>
                            <label for="generalRate">1</label>

                            <input type="radio" class="generalRate" name="generalRate" value="2" required>
                            <label for="generalRate">2</label>

                            <input type="radio" class="generalRate" name="generalRate" value="3" required>
                            <label for="generalRate">3</label>

                            <input type="radio" class="generalRate" name="generalRate" value="4" required>
                            <label for="generalRate">4</label>

                            <input type="radio" class="generalRate" name="generalRate" value="5" required>
                            <label for="generalRate">5</label>

                            <input type="radio" class="generalRate" name="generalRate" value="6" required>
                            <label for="generalRate">6</label>

                            <input type="radio" class="generalRate" name="generalRate" value="7" required>
                            <label for="generalRate">7</label>

                            <input type="radio" class="generalRate" name="generalRate" value="8" required>
                            <label for="generalRate">8</label>

                            <input type="radio" class="generalRate" name="generalRate" value="9" required>
                            <label for="generalRate">9</label>

                            <input type="radio" class="generalRate" name="generalRate" value="10" required>
                            <label for="generalRate">10</label>
                        </div>
                    </div>

                    <p>Moeilijkheid</p>
                    <div id="difficulty-wrapper">
                        <div class="visibleWithoutJs">
                            <input type="radio" class="difficulty" name="difficulty" value="1" required>
                            <label for="difficulty">1</label>

                            <input type="radio" class="difficulty" name="difficulty" value="2" required>
                            <label for="difficulty">2</label>

                            <input type="radio" class="difficulty" name="difficulty" value="3" required>
                            <label for="difficulty">3</label>

                            <input type="radio" class="difficulty" name="difficulty" value="4" required>
                            <label for="difficulty">4</label>

                            <input type="radio" class="difficulty" name="difficulty" value="5" required>
                            <label for="difficulty">5</label>

                            <input type="radio" class="difficulty" name="difficulty" value="6" required>
                            <label for="difficulty">6</label>

                            <input type="radio" class="difficulty" name="difficulty" value="7" required>
                            <label for="difficulty">7</label>

                            <input type="radio" class="difficulty" name="difficulty" value="8" required>
                            <label for="difficulty">8</label>

                            <input type="radio" class="difficulty" name="difficulty" value="9" required>
                            <label for="difficulty">9</label>

                            <input type="radio" class="difficulty" name="difficulty" value="10" required>
                            <label for="difficulty">10</label>
                        </div>
                    </div>

                    <p>Kwaliteit</p>
                    <div id="quality-wrapper">
                        <div class="visibleWithoutJs">
                            <input type="radio" class="quality" name="quality" value="1" required>
                            <label for="quality">1</label>

                            <input type="radio" class="quality" name="quality" value="2" required>
                            <label for="quality">2</label>

                            <input type="radio" class="quality" name="quality" value="3" required>
                            <label for="quality">3</label>

                            <input type="radio" class="quality" name="quality" value="4" required>
                            <label for="quality">4</label>

                            <input type="radio" class="quality" name="quality" value="5" required>
                            <label for="quality">5</label>

                            <input type="radio" class="quality" name="quality" value="6" required>
                            <label for="quality">6</label>

                            <input type="radio" class="quality" name="quality" value="7" required>
                            <label for="quality">7</label>

                            <input type="radio" class="quality" name="quality" value="8" required>
                            <label for="quality">8</label>

                            <input type="radio" class="quality" name="quality" value="9" required>
                            <label for="quality">9</label>

                            <input type="radio" class="quality" name="quality" value="10" required>
                            <label for="quality">10</label>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <label for="comment" class="addComment">Nog een opmerking?</label>
                    <textarea name="comment" id="comment"></textarea>
                </fieldset>
                <input type="button" value="Submit" id="submitJs" class="formButton">
                <input type="submit" value="Submit" id="submitNoJs" class="formButton">
            </form>
        </div>
    </section>

    <article id="submit-form">
        <p>De enquete is verstuurd!</p>
    </article>
</main>

<script src="/js/form.js"></script>
<script src="/js/ls.js" type="module"></script>
<%- include ("./partials/footer.ejs") %>