<%- include ("./partials/head.ejs") %>
<main>
    <section>
        <article>
            <h1>Beoordeel een vak</h1>
            <ul>
            <% for (const course of data) { %>
                <% if(course.completed === false) { %>
                    <li><a class="invalid" href="<%= course.survey %>/t/<%= id %>"><%= course.name %></a></li>
                <% } else { %>
                    <li class="valid"><%= course.name  %></li>
                <% } %>
            <% } %>
            </ul>
        </article>
    </section>    
</main>
<%- include ("./partials/footer.ejs") %>